<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import plotly.graph_objects as go

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [2]:
#ваш код здесь
hh_base = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [3]:
#ваш код здесь
print(hh_base.head(10))

                                   Пол, возраст           ЗП  \
0    Мужчина ,  39 лет , родился 27 ноября 1979   29000 руб.
1     Мужчина ,  60 лет , родился 20 марта 1959   40000 руб.
2  Женщина ,  36 лет , родилась 12 августа 1982   20000 руб.
3      Мужчина ,  38 лет , родился 25 июня 1980  100000 руб.
4     Женщина ,  26 лет , родилась 3 марта 1993  140000 руб.
5    Мужчина ,  29 лет , родился 5 октября 1989   25000 руб.
6  Мужчина ,  46 лет , родился 19 сентября 1972  250000 руб.
7       Мужчина ,  29 лет , родился 9 июля 1989   70000 руб.
8      Мужчина ,  29 лет , родился 11 июля 1989   65000 руб.
9      Мужчина ,  34 года , родился 26 мая 1984   55000 руб.

                           Ищет работу на должность:  \
0                            Системный администратор
1                               Технический писатель
2                                           Оператор
3  Веб-разработчик (HTML / CSS / JS / PHP / базы ...
4                  Региональный менеджер по продажам
5                             Технический специалист
6                           Руководитель ИТ-проектов
7                                     Инженер АСУ ТП
8                                            Ревизор
9  Менеджер по работе с клиентами, Pre-sale менед...

                        Город, переезд, командировки  \
0  Советск (Калининградская область) , не готов к...
1  Королев , не готов к переезду , готов к редким...
2  Тверь , не готова к переезду , не готова к ком...
3  Саратов , не готов к переезду , готов к редким...
4  Москва , не готова к переезду , готова к коман...
5  Старый Оскол , не готов к переезду , не готов ...
6  Москва , не готов к переезду , готов к редким ...
7  Москва ,  м. Бульвар Рокоссовского , готов к п...
8  Москва ,  м. Шоссе Энтузиастов , готов к перее...
9  Москва ,  м. Теплый Стан , не готов к переезду...

                                           Занятость  \
0  частичная занятость, проектная работа, полная ...
1  частичная занятость, проектная работа, полная ...
2                                   полная занятость
3  частичная занятость, проектная работа, полная ...
4                                   полная занятость
5                                   полная занятость
6                                   полная занятость
7                                   полная занятость
8                                   полная занятость
9                                   полная занятость

                                              График  \
0  гибкий график, полный день, сменный график, ва...
1  гибкий график, полный день, сменный график, уд...
2                                        полный день
3                    гибкий график, удаленная работа
4                                        полный день
5                        полный день, сменный график
6                                        полный день
7                                        полный день
8                                        полный день
9                                        полный день

                                         Опыт работы  \
0  Опыт работы 16 лет 10 месяцев  Август 2010 — п...
1  Опыт работы 19 лет 5 месяцев  Январь 2000 — по...
2  Опыт работы 10 лет 3 месяца  Октябрь 2004 — Де...
3  Опыт работы 18 лет 9 месяцев  Август 2017 — Ап...
4  Опыт работы 5 лет 7 месяцев  Региональный мене...
5  Опыт работы 9 лет 9 месяцев  Технический специ...
6  Опыт работы 22 года 9 месяцев  Руководитель ИТ...
7  Опыт работы 3 года 11 месяцев  Декабрь 2016 — ...
8  Опыт работы 8 лет 9 месяцев  Декабрь 2016 — по...
9  Опыт работы 16 лет 6 месяцев  Июнь 2018 — по н...

           Последнее/нынешнее место работы  \
0                  МАОУ "СОШ № 1 г.Немана"
1             Временный трудовой коллектив
2                             ПАО Сбербанк
3                                 OpenSoft
4                                 Мармелад
5  Комбинат хлебопродуктов Старооскольский
6                         СИБИНТЕК, ООО ИК
7                            ФМ-инжиниринг
8                                ФГБУ РСВО
9                           ООО "Мираском"

                       Последняя/нынешняя должность  \
0                           Системный администратор
1  Менеджер проекта, Аналитик, Технический писатель
2                               Кассир-операционист
3                               Инженер-программист
4                              Менеджер по продажам
5                                     Слесарь КИПиА
6               Менеджер (Руководитель ИТ-проектов)
7                                    Инженер АСУ ТП
8                                Старший специалист
9                              Специалист отдела ИТ

                                   Образование и ВУЗ Обновление резюме  \
0  Неоконченное высшее образование 2000  Балтийск...  16.04.2019 15:59
1  Высшее образование 1981  Военно-космическая ак...  12.04.2019 08:42
2  Среднее специальное образование 2002 Профессио...  16.04.2019 08:35
3  Высшее образование 2002  Саратовский государст...  08.04.2019 14:23
4  Высшее образование 2015 Кгу Психологии и педаг...  22.04.2019 10:32
5  Неоконченное высшее образование 2013  Воронежс...  22.04.2019 15:59
6  Высшее образование 2008 ФГОУ ВПО «Уральская ак...  25.04.2019 22:48
7  Высшее образование 2014 Белорусская Государств...  07.05.2019 17:59
8  Неоконченное высшее образование 2020  Московск...  11.04.2019 11:08
9  Высшее образование 2007  Московский государств...  19.04.2019 11:39

                             Авто
0  Имеется собственный автомобиль
1                      Не указано
2                      Не указано
3                      Не указано
4                      Не указано
5  Имеется собственный автомобиль
6                      Не указано
7                      Не указано
8  Имеется собственный автомобиль
9  Имеется собственный автомобиль

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

4. Обратите внимание на информацию о числе непустых значений.

In [4]:
#ваш код здесь
print(hh_base.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB
None

5. Выведите основную статистическую информацию о столбцах.

In [5]:
#ваш код здесь
print(hh_base.describe())

                                         Пол, возраст          ЗП  \
count                                           44744       44744
unique                                          16003         690
top     Мужчина ,  32 года , родился 17 сентября 1986  50000 руб.
freq                                               18        4064

       Ищет работу на должность:  \
count                      44744
unique                     14929
top      Системный администратор
freq                        3099

                             Город, переезд, командировки         Занятость  \
count                                               44744             44744
unique                                              10063                38
top     Москва , не готов к переезду , не готов к кома...  полная занятость
freq                                                 1261             30026

             График                                        Опыт работы  \
count         44744                                              44576
unique           47                                              44413
top     полный день  Опыт работы 10 лет 8 месяцев  Апрель 2018 — по...
freq          22727                                                  3

                          Последнее/нынешнее место работы  \
count                                               44743
unique                                              30214
top     Индивидуальное предпринимательство / частная п...
freq                                                  935

       Последняя/нынешняя должность  \
count                         44742
unique                        16927
top         Системный администратор
freq                           2062

                                        Образование и ВУЗ Обновление резюме  \
count                                               44744             44744
unique                                              40148             18838
top     Высшее образование 1987 Военный инженерный Кра...  07.05.2019 09:50
freq                                                    4                25

              Авто
count        44744
unique           2
top     Не указано
freq         32268

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [6]:
#ваш код здесь
# Будем искать подстроки в исходной строке и в зависимости от этого установим категорию образования
def education_cat(education_str):
    
    if education_str.find('Неоконченное высшее образование') != -1:
        return 'неоконченное высшее'
    elif education_str.find('Высшее образование') != -1:
        return 'высшее'
    elif education_str.find('Среднее специальное образование') != -1:
        return 'среднее специальное'
    elif education_str.find('Среднее образование') != -1:
        return 'среднее'
    else:
        return 'прочее'
    
# Применим функцию к новому столбцу "Образование", выведем полученный столбец и удалим исходный
hh_base['Образование'] = hh_base['Образование и ВУЗ'].apply(education_cat)     
print(hh_base['Образование'].value_counts())
hh_base = hh_base.drop(['Образование и ВУЗ'], axis=1)

высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: Образование, dtype: int64

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [7]:
#ваш код здесь
# Метод split() делит исходное поле на слова, получается список 
# ['Мужчина', ',', '50', 'лет', ',', 'родился', '25', 'июня', '1968']

hh_base['Пол'] = hh_base['Пол, возраст'].apply(lambda x: x.split()[0])          
hh_base['Возраст'] = hh_base['Пол, возраст'].apply(lambda x: int(x.split()[2]))

# Процент женских и мужских резюме
print(hh_base['Пол'].value_counts(normalize=True)*100)
# Средний возраст соискателей
print(hh_base['Возраст'].mean())

# Удалим исходный признак
try:
    hh_base = hh_base.drop('Пол, возраст', axis=1)
except:
    'Column has already been deleted'    
#print(hh_base.info())

Мужчина    80.929287
Женщина    19.070713
Name: Пол, dtype: float64
32.19674146254246

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

In [8]:
#ваш код здесь
# Опишем функцию для подсчёта опыта в месяцах
def experience_months(str_experience):

    # Преобразуем аргумент в строку и обрежем
    str_experience = str(str_experience)
    str_experience = str_experience[:40]    
    # Список вида ['Опыт', 'работы', '1', 'год', '1', 'месяц', 'Август', '2010', '—', 'п...']
    splited = str_experience.split()

    # Все варианты слов для описания опыта в годах и месяцах
    list_years = ['год', 'года', 'лет']
    list_months = ['месяц', 'месяца', 'месяцев']
    experience = 0

    # Находим эти варианты в списке и подсчитываем опыт в месяцах
    # Использовала блок обработки исключений, так как иногда встречалась ошибка "index out of range", 
    # и не получалось её отследить по-другому
    try:
        # ищем опыт в годах
        if splited[3] in list_years:
            experience += int(splited[2])*12
        # ищем опыт в месяцах при наличии опыта больше года
        if splited[5] in list_months:
            experience += int(splited[4])
        # если опыт меньше года
        if splited[3] in list_months:
            experience += int(splited[2])
    
        return experience
    except:
        return np.nan

# Создаём новый столбец, удаляем исходный
hh_base['Опыт работы (месяц)'] = hh_base['Опыт работы'].apply(experience_months)
hh_base = hh_base.drop('Опыт работы', axis=1)
#print(hh_base['Опыт работы (месяц)'].value_counts())
#print(hh_base.info())
print(hh_base['Опыт работы (месяц)'].median())

100.0

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [9]:
#ваш код здесь
# Город
def find_city(str_city):
    
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань',
                      'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа',
                      'Красноярск', 'Пермь', 'Воронеж', 'Волгоград']
    # Выделяем первое слово в аргументе и определяем категорию
    city = str(str_city).split()[0]
    if city == 'Москва':
        return 'Москва'
    if city == 'Санкт-Петербург':
        return 'Санкт-Петербург'
    if city in million_cities:
        return 'город миллионник'
    else:
        return 'другие'
    
hh_base['Город'] = hh_base['Город, переезд, командировки'].apply(find_city)

# Процентные соотношения жителей разных городов
print(hh_base['Город'].value_counts(normalize=True)*100)


# Переезд
def relocation(str_city):
    
    # Получим список вида ['Москва ', ' м. Беломорская ', ' не готов к переезду', ' не готов к командировкам']
    splited = str(str_city).split(',')
    
    # Информация о переезде - элемент с идексом 2, если предыдущий - метро, либо элемент с индексом 1
    if splited[1].find('м.') != -1:
        ind = 2
    else:
        ind = 1
    
    # По наличию предлога "не" определяем готовность        
    if splited[ind].find('не') == -1:
        return True
    else:
        return False

hh_base['Готовность к переезду'] = hh_base['Город, переезд, командировки'].apply(relocation)
print(hh_base['Готовность к переезду'].value_counts(normalize=True)*100)


# Командировки
def business_trips(str_city):
    
    # Получим список вида ['Москва ', ' м. Беломорская ', ' не готов к переезду', ' не готов к командировкам']
    splited = str(str_city).split(',')
    
    # Информация - элемент с идексом 3, если первый - метро, либо элемент с индексом 2
    if splited[1].find('м.') != -1:
        ind = 3
    else:
        ind = 2
            
    # По наличию предлога "не" определяем готовность
    if splited[ind].find('не') == -1:
        return True
    else:
        return False

hh_base['Готовность к командировкам'] = hh_base['Город, переезд, командировки'].apply(business_trips)
print(hh_base['Готовность к командировкам'].value_counts(normalize=True)*100)

# Устанавливаем фильтр "два поля = True", печатаем процентное соотношение и удаляем столбцы
mask = (hh_base['Готовность к переезду'] & hh_base['Готовность к командировкам'])
print(hh_base[mask].shape[0] / hh_base.shape[0] * 100)

hh_base = hh_base.drop(['Город, переезд, командировки'], axis=1)

Москва              37.146880
другие              36.769176
город миллионник    15.050063
Санкт-Петербург     11.033882
Name: Город, dtype: float64
False    64.220901
True     35.779099
Name: Готовность к переезду, dtype: float64
True     71.330234
False    28.669766
Name: Готовность к командировкам, dtype: float64
32.4445735741105

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [10]:
#ваш код здесь
# Занятость: ищем проектную работу и волонтерство
hh_base['Проектная работа'] = hh_base['Занятость'].apply(lambda x: str(x).find('проектная работа') != -1)
hh_base['Волонтерство'] = hh_base['Занятость'].apply(lambda x: str(x).find('волонтерство') != -1)

# Устанавливаем фильтр "два поля = True", печатаем количество строк и удаляем столбцы
mask = (hh_base['Проектная работа'] & hh_base['Волонтерство'])
print(hh_base[mask].shape[0])
hh_base = hh_base.drop(['Проектная работа', 'Волонтерство'], axis=1)

# График: ищем вахтовый метод и гибкий график
hh_base['Вахтовый метод'] = hh_base['График'].apply(lambda x: str(x).find('вахтовый метод') != -1)
hh_base['Гибкий график'] = hh_base['График'].apply(lambda x: str(x).find('гибкий график') != -1)

# Устанавливаем фильтр "два поля = True", печатаем количество строк и удаляем столбцы
mask = (hh_base['Вахтовый метод'] & hh_base['Гибкий график'])
print(hh_base[mask].shape[0])
hh_base = hh_base.drop(['Вахтовый метод', 'Гибкий график'], axis=1)

436
2311

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [11]:
#ваш код здесь
# Проверка структуры полученной таблицы
print(hh_base.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ЗП                               44744 non-null  object
 1   Ищет работу на должность:        44744 non-null  object
 2   Занятость                        44744 non-null  object
 3   График                           44744 non-null  object
 4   Последнее/нынешнее место работы  44743 non-null  object
 5   Последняя/нынешняя должность     44742 non-null  object
 6   Обновление резюме                44744 non-null  object
 7   Авто                             44744 non-null  object
 8   Образование                      44744 non-null  object
 9   Пол                              44744 non-null  object
 10  Возраст                          44744 non-null  int64
 11  Опыт работы (месяц)              44394 non-null  float64
 12  Город                            44744 non-null  object
 13  Готовность к переезду            44744 non-null  bool
 14  Готовность к командировкам       44744 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 4.5+ MB
None

In [12]:
# Работаем с таблицей валют
ex_rates = pd.read_csv('data\ExchangeRates.csv')

# Преобразуем даты в формат pd.datetime
hh_base['Обновление резюме'] = pd.to_datetime(hh_base['Обновление резюме'])
hh_base['date'] = hh_base['Обновление резюме'].dt.date
hh_base['date'] = pd.to_datetime(hh_base['date'])
ex_rates['date'] = pd.to_datetime(ex_rates['date'])

# Столбец ЗП разделим на две части - сумму и валюту.
hh_base['ЗП сумма'] = hh_base['ЗП'].apply(lambda x: int(str(x).split()[0])) # сохраним в числовом виде
hh_base['currency'] = hh_base['ЗП'].apply(lambda x: str(x).split()[1])
#print(hh_base['currency'].value_counts())

# Переведём наименование валюты в формат ISO
curr = {'руб.': 'RUR', 'грн.':	'UAH', 'USD': 'USD', 'EUR': 'EUR',
        'бел.руб.': 'BYN', 'KGS': 'KGS', 'сум':	'UZS', 'AZN':	'AZN',
        'KZT': 'KZT', 'руб.': 'RUR'}
hh_base['currency'] = hh_base['currency'].apply(lambda x: curr[x])

# Объединение таблиц и вывод на печать количества строк в исходной и объединённой, для проверки
merged = hh_base.merge(ex_rates, left_on=['currency', 'date'], right_on = ['currency', 'date'], how = 'left')

# Поле close, proportion для рубля заполним единицей в случае пустых значений (для рубля)
# Количество пустых значений (2273) в этих полях равно количеству строк, где валюта равна рублю
values = {'close': 1, 'proportion': 1}
merged = merged.fillna(values)

# Расчёт ЗП в рублях, вывод медианы
merged['ЗП (руб)'] = merged['ЗП сумма'] * merged['close'] / merged['proportion']
print(merged['ЗП (руб)'].median())

# Удаление служебных столбцов из объединённой таблицы 
hh_base = merged.drop(['ЗП', 'date', 'ЗП сумма', 'currency', 'per', 'time', 'close', 'vol', 'proportion'], axis=1)

59019.0

In [13]:
# Проверка структуры полученной таблицы
print(hh_base.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44744 entries, 0 to 44743
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ищет работу на должность:        44744 non-null  object
 1   Занятость                        44744 non-null  object
 2   График                           44744 non-null  object
 3   Последнее/нынешнее место работы  44743 non-null  object
 4   Последняя/нынешняя должность     44742 non-null  object
 5   Обновление резюме                44744 non-null  datetime64[ns]
 6   Авто                             44744 non-null  object
 7   Образование                      44744 non-null  object
 8   Пол                              44744 non-null  object
 9   Возраст                          44744 non-null  int64
 10  Опыт работы (месяц)              44394 non-null  float64
 11  Город                            44744 non-null  object
 12  Готовность к переезду            44744 non-null  bool
 13  Готовность к командировкам       44744 non-null  bool
 14  ЗП (руб)                         44744 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 4.9+ MB
None

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [12]:
# ваш код здесь

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [13]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [14]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [15]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [16]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [17]:
# ваш код здесь

In [18]:
ваши выводы здесь

SyntaxError: invalid syntax (1506124366.py, line 1)

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [ ]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
# ваш код здесь

ваш коммментарий здесь